<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.maanavshah.locker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/empty_string"
            android:theme="@style/MainCustomTheme" />
        <activity
            android:name=".DisplayActivity"
            android:theme="@style/MainCustomTheme" />
        <activity
            android:name=".InsertActivity"
            android:label="@string/empty_string"
            android:theme="@style/NoCustomTheme" />
        <activity
            android:name=".UpdateActivity"
            android:label="@string/empty_string"
            android:theme="@style/NoCustomTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="About Password Locker"
            android:theme="@style/MainCustomTheme" />
        <activity
            android:name=".FileActivity"
            android:label="@string/empty_string"
            android:theme="@style/NoCustomTheme" />
        <activity android:name=".ChangeActivity"></activity>
    </application>

</manifest>